<!DOCTYPE html>
<html>
<head>
  <base href="{{compiler.publicPath}}">
  <title>{{title}}</title>
  <meta name="description" content="{{description}}" />
  {{#if compiler.isProduction}}
  <link rel="stylesheet" href="bundle-{{compiler.hash}}.css">
  {{/if}}
</head>
<body>
    <canvas id="stage"></canvas>
    <div id="title">Unknown pleasures (revisited)</div>
    <div id="subtitle">Joy Division / <span>Peter Saville (artwork)</span></div>
    <a href="https://vimeo.com/51365288" target="blank" id="vimeo">Vimeo Inspiration</a>
    <div id="download">Download</div>
  <script src="bundle-{{compiler.hash}}.js"></script>
</body>
</html>